<div class="header">
    <h1>Version</h1>
</div>


<div>
    
    <table class='table table-striped'>
        <tr>
            <td>Version</td>
            <td>{{mc.docker.version.Version}}</td>
        </tr>
        <tr>
            <td>ApiVersion</td>
            <td>{{mc.docker.version.ApiVersion}}</td>
        </tr>
        <tr>
            <td>Min ApiVersion</td>
            <td>{{mc.docker.version.MinAPIVersion}}</td>
        </tr>
        
        <tr>
            <td>Experimental</td>
            <td>{{mc.docker.version.Experimental}}</td>
        </tr>
        
        
        
    </table>
</div>